.main-layout {
    display: flex;
}

/* Overlay background */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.313rem);
    z-index: 999;
}

.content-wrapper {
    position: relative;
    transition: filter 0.3s ease;
}

.content-wrapper.blurred {
    filter: blur(.313rem);
}